In [51]:
import numpy as np
import math as mt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [52]:
data = pd.read_csv('Assign5.csv')
data.head()

       L(T-3)      L(T-2)      L(T-1)        L(T)
0  5551.82208  4983.17184  4888.39680  5072.95872
1  5196.25980  5641.29720  7153.17732  7849.80504
2  6329.97504  6292.87560  5349.80160  5225.40936
3  5000.47452  4775.53968  6177.05676  6177.05676
4  6155.70120  6212.12976  7424.25264  7407.41760

In [53]:
def normalize(column):
    c_max, c_min = np.max(column), np.min(column)
    for i in range(len(column)):
        column.iloc[i] = (column.iloc[i] - c_min) / (c_max - c_min)
    return c_max, c_min
x1max, x1min = normalize(data['L(T-3)'])
x2max, x2min = normalize(data['L(T-2)'])
x3max, x3min = normalize(data['L(T-1)'])
ymax, ymin = normalize(data['L(T)'])
data.head()

     L(T-3)    L(T-2)    L(T-1)      L(T)
0  0.404337  0.292418  0.264579  0.311219
1  0.338204  0.417655  0.685892  0.821065
2  0.549071  0.541647  0.350413  0.339210
3  0.301789  0.252907  0.504306  0.513938
4  0.516657  0.526281  0.736320  0.739840

In [54]:
data.isnull().sum()

L(T-3)    0
L(T-2)    0
L(T-1)    0
L(T)      0
dtype: int64

In [55]:
X = data [['L(T-3)', 'L(T-2)', 'L(T-1)']]
Y = data ['L(T)']
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.1, random_state=101)

In [56]:
m = [np.random.uniform(-10, 10) for i in range(xtrain.shape[1])]
c = np.random.uniform(-10, 10)
eeta = 0.1
epochs = 500

In [57]:
for _ in range(epochs):
    for i in range(xtrain.shape[0]):
        y, ypred = ytrain.iloc[i], sum([xtrain.iat[i,z] * m[z] for z in range(xtrain.shape[1])]) + c
        gradm = [-1 * xtrain.iat[i,j] * (y - ypred) for j in range(xtrain.shape[1])]
        gradc = -1 * (y - ypred)
        c = c - eeta * gradc
        for j in range(len(m)):
            m[j] = m[j] - eeta * gradm[j]
print(m, c)

[-0.30121183783383115, 0.024976301548293816, 1.0392927758502912] 0.165127778384092

In [58]:
ytrainPred = []
for x in range(xtrain.shape[0]):
    ytrainPred.append(sum([xtrain.iat[x, z] * m[z] for z in range(xtrain.shape[1])]) + c)
ytestPred = []
for x in range(xtest.shape[0]):
    ytestPred.append(sum([xtest.iat[x, z] * m[z] for z in range(xtest.shape[1])]) + c)

In [59]:
xtrain['L(T-3)'] = xtrain['L(T-3)'] * (x1max - x1min) + x1min
xtrain['L(T-2)'] = xtrain['L(T-2)'] * (x2max - x2min) + x2min
xtrain['L(T-1)'] = xtrain['L(T-1)'] * (x3max - x3min) + x3min
ytrain = ytrain * (ymax - ymin) + ymin
xtest['L(T-3)'] = xtest['L(T-3)'] * (x1max - x1min) + x1min
xtest['L(T-2)'] = xtest['L(T-2)'] * (x2max - x2min) + x2min
xtest['L(T-1)'] = xtest['L(T-1)'] * (x3max - x3min) + x3min
ytest = ytest * (ymax - ymin) + ymin
ytrainPred = np.multiply(ytrainPred, (ymax - ymin)) + ymin
ytestPred = np.multiply(ytestPred, (ymax - ymin)) + ymin

In [60]:
#Compute the error for training and testing data
MAE_Train = mean_absolute_error(ytrainPred, ytrain) #Testing MAE
MSE_Train = mean_squared_error(ytrainPred, ytrain) #Testing MSE
RMSE_Train = mean_squared_error(ytrainPred, ytrain) ** 0.5 #Testing RMSE
MAE_Test = mean_absolute_error(ytestPred, ytest) #Testing MAE
MSE_Test = mean_squared_error(ytestPred, ytest) #Testing MSE
RMSE_Test = mean_squared_error(ytestPred, ytest) ** 0.5 #Testing RMSE
print('Training Error :')
print('Mean Absolute Error :', MAE_Train)
print('Mean Squared Error :', MSE_Train)
print('Root Mean Squared Error :', RMSE_Train)
print('\nTesting Error :')
print('Mean Absolute Error :', MAE_Test)
print('Mean Squared Error :', MSE_Test)
print('Root Mean Squared Error :', RMSE_Test)

Training Error :
Mean Absolute Error : 517.714146603908
Mean Squared Error : 479616.6042312075
Root Mean Squared Error : 692.5435756912394

Testing Error :
Mean Absolute Error : 452.60788285080395
Mean Squared Error : 362137.931060473
Root Mean Squared Error : 601.7789719327795

In [61]:
xtrain['Y_Train'] = ytrain
xtrain['Y_Train_Prediction'] = ytrainPred
xtrain

          L(T-3)      L(T-2)       L(T-1)      Y_Train  Y_Train_Prediction
318  7153.177320  6303.63132  6235.667640  5727.031200         6115.602822
426  5795.618400  6052.82040  4955.425200  4732.516800         5175.244164
200  5332.654800  5212.62720  3466.147680  5182.230600         3726.543107
255  6626.458800  7493.15160  7047.334800  6073.240680         7161.803911
374  5110.790796  6599.33568  8253.191304  7016.953788         8870.920156
..           ...         ...          ...          ...                 ...
316  6442.208640  5548.54860  5460.476400  5604.197760         5496.716147
393  7613.179200  7561.73880  6494.584320  6197.788800         6280.449215
75   6082.749360  6762.38616  7051.231800  8257.898880         7312.894492
337  4536.575640  4468.61196  4298.702760  3839.947920         4826.878421
523  4441.021200  4269.55320  5144.040000  6550.077600         5741.027017

[491 rows x 5 columns]

In [62]:
xtest['Y_Test'] = ytest
xtest['Y_Test_Prediction'] = ytestPred
xtest

          L(T-3)      L(T-2)      L(T-1)      Y_Test  Y_Test_Prediction
225  5069.685240  4913.96112  7098.77520  8213.31720        7624.228717
18   5619.006360  5384.40696  5052.38256  5277.31740        5313.928328
48   5761.324800  5988.28608  6197.78880  6424.75008        6492.253251
355  5075.452800  4886.83800  4766.81040  4663.92960        5166.195316
350  4543.902000  5115.35808  7419.88800  7611.93216        8128.009402
365  3945.011040  4526.91108  5372.40420  6038.63532        6139.506790
39   6138.554400  6001.38000  5744.48976  5709.88440        5900.160694
398  6315.478200  6748.04520  8132.25960  7777.78848        8379.838076
312  6666.675840  6161.62464  5740.74864  6666.67584        5739.222114
171  5324.860800  7197.91488  8357.19444  8668.64268        8930.611074
288  5132.816640  5202.65088  5235.69744  5318.15796        5650.607441
8    6515.160480  6269.64948  5607.00360  5932.79280        5647.416545
432  5173.501320  4689.02628  4748.72832  4172.59584        5112.116379
313  7374.059280  6694.42248  6350.08356  6515.78400        6178.801084
100  8213.317200  8065.85472  7167.36240  6755.83920        6818.815830
178  8547.523920  7976.53548  8624.52864  7210.38528        8248.930062
452  7388.244360  7319.03364  6609.62376  5882.91120        6463.938711
83   5433.041520  6232.70592  5778.78336  5604.19776        6157.535411
385  6515.784000  6241.43520  5881.35240  5607.00360        5935.386686
261  7102.204560  7013.04120  6841.57320  6310.02240        6787.541940
114  5534.363520  5586.73920  5866.07616  7336.33632        6201.816958
117  5727.187080  6232.70592  7249.82292  7993.83816        7616.794430
81   6412.903200  6601.51800  7094.09880  8357.19444        7253.128599
118  7699.692600  7262.76096  6878.67264  6886.46664        6650.758812
246  4456.453320  4791.12768  5178.64536  5827.88556        5786.259323
267  7081.628400  7102.20456  7051.23180  5878.85832        7016.900124
470  7184.509200  7133.06880  6564.41856  6389.83296        6473.689806
291  6021.332640  6211.66212  5865.60852  5604.19776        6068.911005
372  6903.769320  6512.04288  5691.49056  6640.17624        5624.079011
55   6717.180960  6750.85104  6835.02624  6919.20144        6891.344276
124  6851.861280  6546.96000  5866.07616  5639.11488        5824.661305
535  4671.723600  4731.26976  5377.23648  7076.79612        5928.141286
32   6429.613536  6094.28448  5709.88440  5912.84016        5777.314258
449  7059.493440  6748.04520  6090.54336  5555.56320        6002.876359
161  6808.838400  6217.89732  5813.70048  5513.31972        5774.118986
421  5847.058800  5554.16028  5844.87648  7730.86860        6083.236598
218  6354.604080  6388.58592  6014.78568  6116.73120        6128.883111
220  8019.714240  7815.82320  6711.41340  6371.59500        6391.301401
391  5486.976000  5301.16704  5126.89320  6886.46664        5430.520492
507  6280.872840  5450.34420  4048.82712  3840.88320        4056.928644
240  4958.231040  5150.27520  5335.14888  6116.73120        5807.246363
4    6155.701200  6212.12976  7424.25264  7407.41760        7669.183432
188  6464.343600  6252.65856  6218.67672  5997.79476        6306.577692
296  5246.920800  5332.65480  6327.16920  6388.58592        6768.481398
502  3978.057600  4235.25960  4732.51680  6111.11952        5448.068620
410  5967.086400  6481.49040  7270.24320  7459.01388        7571.535958
415  5967.086400  5778.47160  5572.71000  5415.73884        5765.826002
228  5390.018640  5583.77748  6180.33024  6292.87560        6576.695902
98   7003.376640  6286.64040  6955.67736  6453.89964        6919.046210
295  6694.422480  5318.15796  5335.14888  5250.19428        5281.822924
354  6932.295360  6949.28628  5744.17800  5161.18680        5682.173455
183  5190.804000  6995.89440  7647.47280  8196.17040        8218.946018
2    6329.975040  6292.87560  5349.80160  5225.40936        5433.688881
434  7245.302400  6955.67736  6488.50500  5329.22544        6370.610440
179  6826.296960  6197.78880  5936.06628  5846.43528        5897.123115

In [64]:
#Deployment
x1 = float(input('Enter load at T-3 hours : '))
x2 = float(input('Enter load at T-2 hours : '))
x3 = float(input('Enter load at T-1 hours : '))
x1Norm = (x1 - x1min) / (x1max - x1min)
x2Norm = (x2 - x2min) / (x2max - x2min)
x3Norm = (x3 - x3min) / (x3max - x3min)
yPred = x1Norm * m[0] + x2Norm * m[1] + x3Norm * m[2] + c
y = yPred * (ymax - ymin) + ymin
print('Load at T hour :', y)

Load at T hour : 6081.889288295971